*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/jcm.png);
}

.l-header{
    width: 100%;
    max-width: 1920px;
    height: 80px;
    background-color: #727376;
}

.l-header h2, p{
    font-family: 'Lato', sans-serif;
    color:#fff;
    padding: 7px;
    text-align: center;
    position: relative;
}

h2{
    font-size: 24px;
}

p{
    font-size: 16px;
}

.l-main{
    width: 100%;
    max-width: 1920px;
}

.l-frame{
    width: 100%;
    max-width: 650px;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    border: none;
}

.hub_bg{
    background-color: #fff;
}

.hub-frame{
    width: 100%;
    height: 85vh;
}
